doctype html
html lang='en'
html
  head
    title= 'FIFA statistics'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home - FIFA statistics
    br
    a(href='/football') World Cup champions
    br
    a(href='/goldenball') Golden Ball winners
    br
    a(href='/philippe') Philippe
    br
    a(href='/blog') Blog
    br
    a(href='/gallery') Gallery

    block content
